#skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28.75rem;
  border: 4px;
  border-color: red;
}

ul {
  list-style-type: none;
}

.card-container {
  display: flex;
  justify-content: center;
  border: 2px solid #e31b6d;
}
